:root {
    --yellow: #f8e65afc;
    --yellow-dark: #ffd43b;
    --blue-bg: #f4f9fe;
    --dark-text: #343434;
    --light-text: #414752;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
  }
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }
  
  ion-icon {
    width: 2rem;
    height: 2rem;
    color: var(--light-text);
  }
  
  /* ******************** */
  /* EMPTY DIV */
  /* ******************** */
  
  .empty {
    padding: 1rem;
    width: 100%;
    background-color: var(--blue-bg);
  }
  
  .section-main {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  
  .nav-grid,
  .dynamic-grid {
    background-color: var(--blue-bg);
    height: 97vh;
  }
  
  .nav-grid {
    padding: 1rem;
    position: relative;
  }
  
  .nav-grid h1 {
    padding: 2rem 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: var(--dark-text);
  }
  
  .search-div {
    display: flex;
    padding: 0 1.5rem;
    box-shadow: 0 0 2rem 0.8rem rgba(0, 0, 0, 0.03);
    border-radius: 100px;
    margin: 1rem;
    background-color: var(--yellow);
    align-items: center;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  .search {
    border: none;
    background-color: var(--yellow);
    padding: 1rem;
    max-width: 12rem;
    font-family: inherit;
  }
  .search:focus {
    outline: none;
  }
  
  .nav-options {
    margin: 3rem 1rem;
  }
  
  .nav-options li {
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
  }
  
  .nav-options li span {
    font-size: 1.5rem;
    color: var(--light-text);
    padding-left: 1rem;
  }
  
  .socials {
    position: absolute;
    left: 4.5rem;
    bottom: 40px;
  }
  .socials > * {
    margin-right: 1rem;
  }
  
  /* **************************** */
  /* DYNAMIC SECTION */
  /* **************************** */
  
  /* .dynamic-grid {
      position: static;
    } */
    .container {
        width: 100%;
    padding: 2rem;
    margin: 0 auto;
    background-color: #fff;
    border-top-left-radius: 20px;
    overflow-y: scroll;
    height: 96vh;
  }

  .overflow-table {
    max-width: 900px;

      overflow-x: auto;
      margin: 0 auto;
      /* display: flex;
      justify-content: center; */
      background-color: #fff;
    border-top-left-radius: 20px;
    overflow-y: auto;
    height: 96vh;
  }
  
  table {
      margin: 2rem;
      /* border: 1px solid var(--light-text); */
      padding: 2rem;
      font-size: 1.2rem;
      border-collapse: collapse;
      text-align: center;
      overflow: hidden;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.03);
      border-radius: 20px;
      /* background-color: var(--blue-bg); */
    }
    
    th {
        color: var(--light-text);
        padding: 2rem;
        font-size: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.03);

    }
    
    td {
      border: 1px solid rgba(0, 0, 0, 0.03);
      padding: 1rem;
      color: var(--light-text);
  }
  
  .hidden {
    display: none;
  }

  /* @media(max-width: 1100px) {
      .overflow-table {
          width: 700px;
          overflow-x: auto;
      }
  }
  @media(max-width: 500px) {
      .overflow-table {
          width: 300px;
          overflow-x: auto;
      }
  } */
  